.test-icons__icon_image_explorer
{
    width: 126px;
    height: 123px;
}

.test-icons__icon_image_explorer .test-icons__icon-inner
{
    list-style-image: url(test-icons__icon_image_explorer.png);
}
